<article id="post-details">
    <h3>Category Details</h3>
    <table>
        <colgroup>
            <col style="font-weight: bold;">
            <col span="2">
        </colgroup>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>ID</td>
            <td>{{post.id}}</td>
        </tr>
        <tr>
            <td>Title</td>
            <td class="editable-property" type="text" value="{{post.name}}" name="name"></td>
        </tr>
        <tr>
            <td>Slug</td>
            <td>{{post.slug}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td class="editable-property" type="textbox" value="{{post.description}}"  name="description"></td>
        </tr>
        <tr>
    </table>
</article>

<form action="/admin/categories/{{post.slug}}/no_i_dont" method="post">
<input type="checkbox" name="add" id="">
<button type="submit">submit</button>
</form>

<h3>Category Delete</h3>
<button id="button-delete">Delete</button>

<article>
    <h3>Linked Posts</h3>
    {{#if posts}}{{#forEach posts}}
    <section>
        <a href="/admin/posts/{{slug}}" class="list-link">
            <section style="display: flex; flex-direction: row;">
                {{#if thumbnail}}<img src="/upload/id/{{thumbnail}}" height="100" width="100" style="padding: 5px;">{{/if}}
                <h4 style="padding: 5px;">{{title}}</h4>
            </section>
        </a>

        <button class="button-unlink">Unlink</button>
        <a href="/posts/{{slug}}"><button class="button-goto">View Post as User</button></a>
    </section>
    {{/forEach}}{{/if}}
</article>