<h3>Post Contents</h3>
<article id="post-container">
{{#if post.content}}{{#forEach post.content}}
    <section class="loaded" section-type="{{{type}}}" {{#if id}}content-id="{{{id}}}"{{/if}}>{{{data}}}</section>
{{/forEach}}{{/if}}
</article>

<form action="" id="section-select">
    <select name="section-type" id="s-sect-type">
        <option value="text">Text</option>
        <option value="img">Image</option>
    </select>
    <button type="submit" id="s-create">Create</button>
</form>

<button type="submit" id="post-submit">Update Post</button>

<article id="post-details">
    <h3>Post Details</h3>
    <table>
        <colgroup>
            <col style="font-weight: bold;">
            <col span="2">
        </colgroup>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>ID</td>
            <td>{{post.id}}</td>
        </tr>
        <tr>
            <td>Title</td>
            <td class="editable-property" type="text" value="{{post.title}}" name="title"></td>
        </tr>
        <tr>
            <td>Slug</td>
            <td>{{post.slug}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td class="editable-property" type="textbox" value="{{post.description}}"  name="description"></td>
        </tr>
        <tr>
            <td>Thumbnail</td>
            <td class="editable-property" type="file" value="{{post.thumbnail}}" name="thumbnail"></td>
        </tr>
        <tr>
            <td>Created At</td>
            <td>{{date post.created_at "DD MMMM YYYY HH:MM"}}</td>
        </tr>
        <tr>
            <td>Last Modified</td>
            <td>{{date post.edited_at "DD MMMM YYYY HH:MM"}}</td>
        </tr>
        <tr>
            <td>Categories</td>
            <td>{{#forEach categories}}<a href="/admin/categories/{{slug}}">{{name}}</a>{{#unless isLast}}, {{/unless}}{{/forEach}}</td>
        </tr>
        <tr>
            <td>Authors</td>
            <td>{{#forEach authors}}<a href="/user/{{slug}}">{{#if public_name}}{{public_name}}{{else}}{{slug}}{{/if}}</a>{{#unless isLast}}, {{/unless}}{{/forEach}}</td>
        </tr>
    </table>
</article>

<h3>Post Delete</h3>
<button id="button-delete">Delete</button>