<form action="/admin/posts" method="post">
    <h2>New Post</h2>
    <label for="slug">Post Slug</label>
    <input type="text" name="slug" id="new-slug">
    <label for="title">Post Title</label>
    <input type="text" name="title" id="new-title">
    <input type="checkbox" name="gen-slug" id="new-generate-slug">

    <button type="submit">Submit</button>
</form>

<article>
    <header>
        <h2>Posts</h2>
    </header>
{{#if page.posts}}
{{#forEach page.posts}}
    <section class="list-elem" slug="{{slug}}">
        <a href="/admin/posts/{{slug}}" class="list-link">
            <section style="display: flex; flex-direction: row;">
                {{#if thumbnail}}<img src="/upload/id/{{thumbnail}}" height="100" width="100" style="padding: 5px;">{{/if}}
                <h4 style="padding: 5px;">{{title}}</h4>
            </section>
        </a>

        <input type="text" name="" class="input-title">
        <button class="button-update">Update</button>
        <button class="button-delete">Delete</button>
        <a href="/posts/{{slug}}"><button class="button-goto">View Post as User</button></a>
    </section>
{{/forEach}}
{{/if}}
</article>