<div class="section center">
    <h1 class="e-text e-text--center">{{post.title}}</h2>
</div>

{{#if post.content}}{{#forEach post.content}}
    <div class="section">
        {{#eq type "markdown"}}
            {{#markdown}}{{data}}{{/markdown}}
        {{/eq}}
        {{#eq type "upload"}}
            {{#eq data.type "image"}}
                <img src="/upload/{{data.path}}" alt="{{data.description}}" class="e-image">
            {{/eq}}
        {{/eq}}
    </div>
{{/forEach}}{{else}}
<div class="section center">
    <h2 class="e-text e-text--center">Post is Empty</h2>
</div>
{{/if}}