<article>
    <header>
        <img src="{{profile.images.avatar.url}}" alt="{{#if profile.public_name}}{{profile.public_name}}{{else}}{{user.username}}{{/if}}" height="250" width="250">
        <h2>{{#if profile.public_name}}{{profile.public_name}}{{else}}{{user.username}}{{/if}}</h2>
    </header>
    <section id="l-description">
        {{#markdown}}{{profile.description}}{{/markdown}}
    </section id="l-u-details">
    <section>
        <ul>
            <li><b>Gender:</b> {{#if profile.gender}}{{profile.gender.name}} ({{#eq profile.gender.pronouns "1"}}He/Him{{else}}{{#eq profile.gender.pronouns "2"}}She/Her{{else}}They/Them{{/eq}}{{/eq}}){{else}}Not set (They/Them){{/if}}</li>
            <li><b>Birthday:</b> {{#if profile.birthday}}{{date profile.birthday "DD MMMM"}}{{else}}None Set{{/if}}</li>
        </ul>
    </section>
    <section>
        <ul>{{#forEach profile.links}}
            <li><a href="{{url}}">{{name}}</a></li>{{/forEach}}
        </ul>
    </section>
</article>